{% extends "base_generic.html" %}

{% load static %} 
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}
    <h1Location List</h1>

    {% if location_list %}
    <ul>

      {% for location in location_list %}
      <li>
        <a href="{{ location.get_absolute_url }}">{{ location.title }}</a> ({{location.business_name}})
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no locations in the database.</p>
    {% endif %}       
{% endblock %}
